<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Edit User</title>
</head>
<body>
<p>Edit User, please</p>
<form th:method="PUT" th:action="@{/users/{id}(id=${user.getId()})}" th:object="${user}">
    <label for="name">Enter Name</label>
    <input type="text" th:field="*{name}" id="name"/>
    <br/>
    <label for="surname">Enter Surname</label>
    <input type="text" th:field="*{surname}" id="surname"/>
    <br/>
    <label for="age">Enter Age</label>
    <input type="text" th:field="*{age}" id="age"/>
    <br/>
    <input type="submit" value="Update!"/>
</form>
</body>
</html>